<a href="https://colab.research.google.com/github/Saivenkat4/FML/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
dataset ={'car':["volvo","benz","honda"],'cost' : [1000000,5000000,500000]}
pri=pd.DataFrame(dataset)
pri.index = np.arange(1, len(pri) + 1)
print(pri)

     car     cost
1  volvo  1000000
2   benz  5000000
3  honda   500000

In [ ]:
import pandas as pd
pd.__version__

'1.3.5'

In [ ]:
import pandas as pd
a=[15,265,3655]
pri=pd.Series(a,index=[1,2,3])
print(pri)

1      15
2     265
3    3655
dtype: int64

In [ ]:
import pandas as pd
arr=[2,3,4]
pri=pd.Series(arr)
print(pri[1])

3

In [ ]:
import pandas as pd
a=["sai","charak","venkat"]
pri=pd.Series(a,index=['A','B','C'])
print(pri)
print(pri['B'])

A       sai
B    charak
C    venkat
dtype: object
charak

In [ ]:
#we can use dictionary
import pandas as pd
a={"date1" : "10-12-2009","date2" : "6-5-2020"}
pri=pd.Series(a)
print(a)
print(pri[1])

{'date1': '10-12-2009', 'date2': '6-5-2020'}
6-5-2020

In [ ]:
import pandas as pd
dataset ={'car':["volvo","benz","honda"],'cost' : [1000000,5000000,500000]}
pri=pd.DataFrame(dataset)
print(pri.loc[0])

car       volvo
cost    1000000
Name: 0, dtype: object

In [ ]:
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
s=pd.Series(data)
df = pd.DataFrame(data)
print(data)
print(df)
print(s)

{'calories': [420, 380, 390], 'duration': [50, 40, 45]}
   calories  duration
0       420        50
1       380        40
2       390        45
calories    [420, 380, 390]
duration       [50, 40, 45]
dtype: object

In [ ]:
import pandas as pd
a=pd.read_csv('tested.csv')
# print(a.to_string())
b=a.head(50)
# print(b.to_string())
c=b.dropna()
print(c.to_string())

    PassengerId  Survived  Pclass                                                     Name     Sex   Age  SibSp  Parch       Ticket      Fare            Cabin Embarked
12          904         1       1            Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female  23.0      1      0        21228   82.2667              B45        S
14          906         1       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)  female  47.0      1      0  W.E.P. 5734   61.1750              E31        S
24          916         1       1          Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  female  48.0      1      3     PC 17608  262.3750  B57 B59 B63 B66        C
26          918         1       1                             Ostby, Miss. Helene Ragnhild  female  22.0      0      1       113509   61.9792              B36        C
28          920         0       1                                  Brady, Mr. John Bertram    male  41.0      0      0       113054   30.5000              A21        S
34          926         0       1                                 Mock, Mr. Philipp Edmund    male  30.0      1      0        13236   57.7500              C78        C
44          936         1       1         Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)  female  45.0      1      0        11753   52.5542              D19        S
46          938         0       1                                 Chevre, Mr. Paul Romaine    male  45.0      0      0     PC 17594   29.7000               A9        C
48          940         1       1          Bucknell, Mrs. William Robert (Emma Eliza Ward)  female  60.0      0      0        11813   76.2917              D15        C

In [ ]:
import pandas as pd
print(pd.options.display.max_rows)

60

In [ ]:
import pandas as pd
pd.options.display.max_rows = 10
d=pd.read_csv('tested.csv')
print(d)

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 12 columns]

In [ ]:
import pandas as pd
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [ ]:
import pandas as pd
df=pd.read_csv('tested.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB
None